.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--NavBarColor);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Green)
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
}


.log-in {
  position: absolute;
  right: 7rem;
}

.hidden {
  display: none;
}


.profilePushed {
  animation: push-animation 0.06s;
  position: absolute;
  right: 1rem;
}

.profile-dropdown-create-article-pushed {
  animation: push-animation 0.06s;
  width: 100%;
  text-align: left;
  margin-top: -1rem;
  padding-left: .1rem;
  border-bottom: 0.1px solid rgb(79, 79, 79);
}

.profile-dropdown-create-article-pushed:hover {
  animation: push-animation 0.06s;
  width: 100%;
  text-align: left;
  margin-top: -1rem;
  padding-left: .1rem;
  border-bottom: 0.1px solid rgb(79, 79, 79);
  background-image: var(--BackgroundColor);
}

.profile-dropdown-create-article-pushed button{
  font-size: .8rem;
  text-align: left;
  border: none;
  margin: -2;
  padding: 0.5rem;
  margin-right: -1rem;
 
}

.profile-dropdown-logout-pushed{
  animation: push-animation 0.06s;
  width: 100%;
  text-align: left;
  margin-top: .1rem;
  margin-left: 1.5rem;
}

.profile-dropdown-logout-pushed:hover{
  animation: push-animation 0.06s;
  width: 100%;
  text-align: left;
  margin-top: .1rem;
  margin-left: 1.5rem;
  background-image: var(--BackgroundColor);
}

.profile-dropdown-logout-pushed button{
  font-size: .8rem;
  text-align: left;
  border: none;
  margin: -2;
  padding: 0.5rem;
  margin-left: -1.5rem;
}

.loggedInPushed {
  animation: push-animation 0.06s;
  position: absolute;
  right: 7rem;
}

.signupPushed {
animation: push-animation 0.06s;
}

.profile {
  position: absolute;
  right: 1rem;
}

/* Profile dropdown */
.profile-dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(80% + 10px);
  right: 0;
  display: inline-block;
  background-color: var(--NavBarColor);
  min-width: 11rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 0.1px solid rgb(79, 79, 79);
  border-radius: 2px;
  z-index: 1;
}


.profile-dropdown-name{
  font-size: .8rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.1px solid rgb(79, 79, 79);
}

.profile-dropdown-username {
  font-size: .6rem;
  color:#878593;
  align-items: center;
  padding-bottom: .3rem;

}

.profile-dropdown-create-article {
  width: 100%;
  text-align: left;
  margin-top: -1rem;
  padding-left: .1rem;
  position: relative;
  border-bottom: 0.1px solid rgb(79, 79, 79);
}

.profile-dropdown-create-article button{
  font-size: .8rem;
  text-align: left;
  border: none;
  margin: -2;
  padding: 0.5rem;
  margin-right: -1rem;
 
}

.profile-dropdown-create-article button:hover {
  box-shadow: none;
  background-image: var(--BackgroundColor);
  cursor: pointer;
  width: 100%;
  border-radius: 0px;
  border: 0.1px solid rgb(79, 79, 79);
}

.profile-dropdown-logout {
  width: 100%;
  text-align: left;
  margin-top: .1rem;
  margin-left: 1.5rem;
}

.profile-dropdown-logout button{
  font-size: .8rem;
  text-align: left;
  border: none;
  margin: -2;
  padding: 0.5rem;
  margin-left: -1.5rem;
}

.profile-dropdown-logout button:hover {
  box-shadow: none;
  background-image: var(--BackgroundColor);
  cursor: pointer;
  width: 100%;
  border-radius: 0px;
  border: 0.1px solid rgb(79, 79, 79);
}



/* Responsive styles */
